@font-face {
    font-family: AdvancedLedBoard7;
    src: url("../fonts/advanced_led_board-7.ttf");
}

body {
    margin: 0;
    text-align: center;
    color: #111827;
}

h1 {
    margin: 0;
    padding: 21px;
    background: #F9FAFB;
}

/* /////////////// SETTING THE BACKGROUND //////////////// */

.background-container {
    display: flex; /* made into a flex container to put the halves of the teams side-by-side, did this rather than floating */
    height: calc(100vh - 76px);  /* include in case the svh in bottom line is not supported by browsers, subtracted h1 dimensions */
    height: calc(100svh - 76px); /* will overwrite the top line if svh is supported by browsers, subtracted h1 dimensions */
}

.background-lakers {
    background: #FDB927;
    width: 50%;
    height: 100%; /* 100% of .background-container */
}

.background-celtics {
    background: #008248;
    width: 50%;
    height: 100%; /* 100% of .background-container */
}

/* add transparent effect on top of background colors */
.background-container .wrapper {
    background: rgba(255, 255, 255, 0.234);
    height: 100%;
}

.background-lakers .logo {
    background: url("../images/lakers-logo.png");
    background-size: cover;
    height: 100%;
    background-position: center;
}

.background-celtics .logo {
    background-image: url("../images/celtics-logo.png");
    background-size: cover;
    height: 100%;
    background-position: center;
    width: 80%;
    margin: 0 auto; /* needed this because width of image is no longer 100% */
}

/* //////////// CREATING THE SCOREBOARD BORDER /////////// */

/* position absolute stacks the content on top of its relative parent, so no need of z-index */

.content-container {
    position: relative;
}

.scoreboard-container {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    /* center the container relative to the overall webpage */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 100%; */
}

.scoreboard-borders {
    display: flex;
    height: 502px; /* subject to change once the scoreboard becomes bigger */
}

.scoreboard-lakers-side,
.scoreboard-celtics-side {
    padding: 10px;
    flex: 1 1 calc(65%/2 + 10px);
}

.scoreboard-lakers-side {
    background: #552583;
}

.scoreboard-celtics-side {
    background: #006739;
}


.scoreboard {
    background: #F9FAFB;
    margin: 0 auto;
    width: calc(100% - 40px);
    position: absolute;
    /* center the container relative to the scoreboard-container */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* //////////// CREATING THE SCOREBOARD ///////////// */

.dynamic-elements-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding: 20px;
    gap: 20px;
}

.region {
    flex-basis: calc(33.33% - 40px/3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background: rgb(212, 212, 212);
}

.region-1 {
    order: 1;
}

.region-2 {
    order: 3;
}

.region-3 {
    order: 2;
}

.region-4 {
    order: 5;
}

.region-5 {
    order: 6;
}

.region-6 {
    order: 4;
}

.display-heading {
    margin-top: 0;
}

.display {
    width: 150px;
    height: 100px;
    border: 3px solid #111827;
    background: #F9FAFB;
}

/* ////////// STYLING THE CONTENT INSIDE DISPLAYS ///////// */

.display-content {
    font-family: AdvancedLedBoard7;
    font-size: 80px;
    width: 125px;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
    color: #BE123C;
}

/* ////////////// BUTTON(S) RELATED /////////////////////// */

button {
    padding: 10px 20px;
    background: #c9082a;
    border: 3px solid #17408b;
    border-radius: 3px;
    color: #F9FAFB;
    font-size: 20px;
    cursor: pointer;
}

#offense-btns,
#defend-btn,
#free-throw-btn {
    display: none;
}

#offense-btns {
    flex-wrap: wrap;
    gap: 10px;
    display: none;
}

#dribble-btn,
.shot {
    flex-grow: 1;
}

/* /////////////// TIMER-RELATED ///////////////// */

#timer {
    position: absolute;
    top: -13%;
    left: 50%;
    transform: translateX(-50%);
    background: #F9FAFB;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 35px;
    color: red;
    z-index: 1;
}

/* /////////// PERIOD COUNTER-RELATED ///////////// */

#period-container {
    position: absolute;
    background: #F9FAFB;
    padding: 8px 16px;
    border-radius: 5px;
    border: 2px solid black;
    color: red;
    right: 35%;
    top: -11.5%;
}

#period-container p {
    margin: 0;
}

#period-counter {
    font-size: 25px;
}

/* ////////////// MISCELLANEOUS STUFF //////////// */

.nba-logo {
    background-image: url("../images/nba-logo.png");
    background-size: contain;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#live-gameplay-results {
    margin-top: 0;
    font-weight: bold;
    font-size: 20px;
}

/* Utility class */
.border-blue {
    border: 1px solid blue;
}