body {
    margin: 0;
    text-align: center;
}

/* /////////////// SETTING THE BACKGROUND //////////////// */

.background-container {
    display: flex; /* made into a flex container to put the halves of the teams side-by-side, did this rather than floating */
    height: calc(100vh - 76px);  /* include in case the svh in bottom line is not supported by browsers, subtracted h1 dimensions */
    height: calc(100svh - 76px); /* will overwrite the top line if svh is supported by browsers, subtracted h1 dimensions */
}

.background-lakers {
    background: #FDB927;
    width: 50%;
    height: 100%; /* 100% of .background-container */
}

.background-celtics {
    background: #008248;
    width: 50%;
    height: 100%; /* 100% of .background-container */
}

/* add transparent effect on top of background colors */
.background-container .wrapper {
    background: rgba(255, 255, 255, 0.234);
    height: 100%;
}

.background-lakers .logo {
    background: url("../images/lakers-logo.png");
    background-size: cover;
    height: 100%;
    background-position: center;
}

.background-celtics .logo {
    background-image: url("../images/celtics-logo.png");
    background-size: cover;
    height: 100%;
    background-position: center;
    width: 80%;
    margin: 0 auto; /* needed this because width of image is no longer 100% */
}

/* //////////// CREATING THE SCOREBOARD BORDER /////////// */

/* position absolute stacks the content on top of its relative parent, so no need of z-index */

.content-container {
    position: relative;
}

.scoreboard-container {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    /* center the container relative to the overall webpage */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 100%; */
}

.scoreboard-borders {
    display: flex;
    height: 212px; /* subject to change once the scoreboard becomes bigger */
}

.scoreboard-lakers-side,
.scoreboard-celtics-side {
    padding: 10px;
    flex: 1 1 calc(65%/2 + 10px);
}

.scoreboard-lakers-side {
    background: #552583;
}

.scoreboard-celtics-side {
    background: #008248;
}


.scoreboard {
    background: white;
    margin: 0 auto;
    width: calc(100% - 40px);
    position: absolute;
    /* center the container relative to the scoreboard-container */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* //////////// CREATING THE SCOREBOARD ///////////// */

.dynamic-elements-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding: 20px;
    gap: 20px;
}

.region {
    flex-basis: calc(33.33% - 40px/3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.display-heading {
    margin: 0;
}

.display {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.live-gameplay-results {
    margin-top: 0;
}


/* Utility class */
.border-blue {
    border: 1px solid blue;
}