body {
    margin: 0;
}

/* /////////////// SETTING THE BACKGROUND //////////////// */

.background-container {
    display: flex;
    height: calc(100vh - 32px);  /* include in case the svh in bottom line is not supported by browswers */
    height: calc(100svh - 32px); /* will overwrite the top line if svh is supported by browsers */
}

.background-lakers {
    background: #FDB927;
    width: 50%;
    height: 100%; /* 100% of .background-container */
}

.background-celtics {
    background: #008248;
    width: 50%;
    height: 100%; /* 100% of .background-container */
}

/* add transparent effect on top of background colors */
.background-container .wrapper {
    background: rgba(255, 255, 255, 0.234);
    height: 100%;
}

/* Utility class */
.border-blue {
    border: 1px solid blue;
}