body {
    margin: 0;
}

/* /////////////// SETTING THE BACKGROUND //////////////// */

.background-container {
    display: flex; /* made into a flex container to put the halves of the teams side-by-side, did this rather than floating */
    height: calc(100vh - 76px);  /* include in case the svh in bottom line is not supported by browsers, subtracted h1 dimensions */
    height: calc(100svh - 76px); /* will overwrite the top line if svh is supported by browsers, subtracted h1 dimensions */
}

.background-lakers {
    background: #FDB927;
    width: 50%;
    height: 100%; /* 100% of .background-container */
}

.background-celtics {
    background: #008248;
    width: 50%;
    height: 100%; /* 100% of .background-container */
}

/* add transparent effect on top of background colors */
.background-container .wrapper {
    background: rgba(255, 255, 255, 0.234);
    height: 100%;
}

.background-lakers .logo {
    background: url("../images/lakers-logo.png");
    background-size: cover;
    height: 100%;
    background-position: center;
}

.background-celtics .logo {
    background-image: url("../images/celtics-logo.png");
    background-size: cover;
    height: 100%;
    background-position: center;
    width: 80%;
    margin: 0 auto; /* needed this because width of image is no longer 100% */
}

/* //////////// CREATING THE BORDER OF THE SCOREBOARD /////////// */


/* Utility class */
.border-blue {
    border: 1px solid blue;
}