@font-face {
    font-family: AdvancedLedBoard7;
    src: url("../fonts/advanced_led_board-7.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    color: #111827;
}

h1 {
    margin: 0;
    padding: 21px;
    background: #F9FAFB;
}

/* /////////////// SETTING THE BACKGROUND //////////////// */

.background-container {
    height: calc(100vh - 76px);  /* include in case the svh in bottom line is not supported by browsers, subtracted h1 dimensions */
}

.background-lakers {
    background: #FDB927;
    height: 50%;
}

.background-celtics {
    background: #008248;
    height: 50%;
}

/* add transparent effect on top of background colors */
.background-container .wrapper {
    background: rgba(255, 255, 255, 0.234);
    height: 100%;
}

.background-lakers .logo {
    background: url("../images/lakers-logo.png");
    background-size: cover;
    background-position: center;
    height: 100%;
}

.background-celtics .logo {
    background-image: url("../images/celtics-logo.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* /////////////////// CREATING THE SCOREBOARD BORDERS ////////////////////// */

.content-container {
    position: relative;
}

.scoreboard-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 80%;
}

.scoreboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 85%;
    padding: 1.5em .75em;
    font-family: 'Inter', sans-serif;
    z-index: 1;
    border: 2px solid grey;
}

/* //////////// CREATING THE SCOREBOARD ///////////// */

.region {
    display: flex;
    justify-content: space-between;
    background: rgb(212, 212, 212);
    width: 90%;
    margin: 0 auto .5em;
    padding: 1em;
    gap: 1em;
}

.display {
    background: white;
    width: 50%;
}

.display-heading {
    margin-left: auto;
    margin-right: auto;
}

.offense-btns,
.defend-btn,
.free-throw-btn,
.start-period-btn {
    display: none;
}

.region-5 {
    display: inline-block;
}

.region-6 {
    display: none;
}

.display-heading {
    font-weight: 600;
}

.display-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: AdvancedLedBoard7;
    font-size: 2rem;
    margin: 0 auto;
    line-height: 1.5;
    color: #BE123C;
}

/* ////////////// BUTTON(S) RELATED /////////////////////// */

button {
    padding: .5em 1em;
    background: #c9082a;
    border: 3px solid #17408b;
    border-radius: 3px;
    color: #F9FAFB;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
}

.offense-btns {
    flex-wrap: wrap;
    gap: .6em;
    display: none;
}

.dribble-btn,
.shot {
    flex: 1;
}

.dribble-btn {
    flex: 100%;
}

/* /////////////// TIMER-RELATED ///////////////// */

.timer {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F9FAFB;
    padding: .5em .6em;
    border-radius: 5px;
    border: 2px solid grey;
    font-size: 1.5rem;
    color: red;
    z-index: 1;
}

/* /////////// PERIOD COUNTER-RELATED ///////////// */

.period-container {
    display: flex;
    align-items: center;
    gap: .25em;
    position: absolute;
    top: -5%;
    left: 58%;
    background: #F9FAFB;
    padding: .5em 1em;
    border-radius: 5px;
    border: 2px solid grey;
    color: red;
}

.period-container p {
    margin: 0;
}

.period-counter {
    font-size: 1.25rem;
}

/* ////////////// MISCELLANEOUS STUFF //////////// */

.live-gameplay-results {
    margin: .5em 0 0;
    font-weight: 600;
    font-size: 1.25rem;
}